USE [master]
GO
/****** Object:  Database [ProblemSolvingPlatformDB]    Script Date: 7/31/2025 2:41:45 PM ******/
CREATE DATABASE [ProblemSolvingPlatformDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProblemSolvingPlatformDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProblemSolvingPlatformDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProblemSolvingPlatformDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProblemSolvingPlatformDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProblemSolvingPlatformDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProblemSolvingPlatformDB]
GO
/****** Object:  UserDefinedTableType [dbo].[IntegersTableType]    Script Date: 7/31/2025 2:41:46 PM ******/
CREATE TYPE [dbo].[IntegersTableType] AS TABLE(
	[val] [int] NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[SVF_GetTryingStatusOfUserForProblem]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SVF_GetTryingStatusOfUserForProblem]
(
	@UserID int,
	@ProblemID int
)
RETURNS tinyint
AS
BEGIN
	if @UserID is null Or @ProblemID is null
		return null;
	if not exists (select f=1 from Problems where ProblemID = @ProblemID)
		return null;
	if not exists (select f=1 from Users where UserID = @UserID)
		return null;


	declare @TryingStatus tinyint = null;
	declare @SolutionsCount int = 0,@AttemptsCount int = 0;

	select @SolutionsCount = Count(case when s.[Status]=1 then 1 else null end) , @AttemptsCount = Count(s.SubmissionID)
	from Submissions s 
	where s.UserID = @UserID and s.ProblemID = @ProblemID

	if @SolutionsCount > 0 
		return 2; -- Solved
	if @AttemptsCount > 0
		return 1; -- Try
	return 0; -- Not Try
END
GO
/****** Object:  Table [dbo].[Problems]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problems](
	[ProblemID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[DeletedBy] [int] NULL,
	[CompilerName] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[GeneralDescription] [nvarchar](max) NOT NULL,
	[InputDescription] [nvarchar](max) NOT NULL,
	[OutputDescription] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Tutorial] [nvarchar](max) NULL,
	[Difficulty] [tinyint] NOT NULL,
	[SolutionCode] [nvarchar](max) NOT NULL,
	[TimeLimitMilliseconds] [int] NOT NULL,
	[IsSystemProblem] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Problems] PRIMARY KEY CLUSTERED 
(
	[ProblemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProblemTags]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProblemTags](
	[ProblemTagID] [int] IDENTITY(1,1) NOT NULL,
	[ProblemID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_ProblemTags] PRIMARY KEY CLUSTERED 
(
	[ProblemTagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[SubmissionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProblemID] [int] NULL,
	[CompilerName] [nvarchar](max) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ExecutionTimeMilliseconds] [int] NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[VisionScope] [tinyint] NOT NULL,
	[SubmittedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmissionTestCases]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmissionTestCases](
	[SubmissionTestCaseID] [int] IDENTITY(1,1) NOT NULL,
	[TestCaseID] [int] NOT NULL,
	[SubmissionID] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ExecutionTimeMilliseconds] [int] NOT NULL,
	[Output] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SubmissionTestCases] PRIMARY KEY CLUSTERED 
(
	[SubmissionTestCaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestCases]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCases](
	[TestCaseID] [int] IDENTITY(1,1) NOT NULL,
	[ProblemID] [int] NOT NULL,
	[Input] [nvarchar](max) NOT NULL,
	[Output] [nvarchar](max) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[IsSample] [bit] NOT NULL,
 CONSTRAINT [PK_TestCases] PRIMARY KEY CLUSTERED 
(
	[TestCaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Problems] ON 

INSERT [dbo].[Problems] ([ProblemID], [CreatedBy], [DeletedBy], [CompilerName], [Title], [GeneralDescription], [InputDescription], [OutputDescription], [Note], [Tutorial], [Difficulty], [SolutionCode], [TimeLimitMilliseconds], [IsSystemProblem], [CreatedAt], [DeletedAt]) VALUES (7, 1, 1, N'cc', N'string', N'string', N'string', N'string', N'string', N'string', 0, N'codeTest', 1000, 1, CAST(N'2025-05-18T13:41:39.423' AS DateTime), CAST(N'2025-05-31T18:34:49.980' AS DateTime))
INSERT [dbo].[Problems] ([ProblemID], [CreatedBy], [DeletedBy], [CompilerName], [Title], [GeneralDescription], [InputDescription], [OutputDescription], [Note], [Tutorial], [Difficulty], [SolutionCode], [TimeLimitMilliseconds], [IsSystemProblem], [CreatedAt], [DeletedAt]) VALUES (9, 1, NULL, N'clang900', N'string', N'string', N'string', N'string', N'string', N'string', 0, N'#include <iostream> 
 using namespace std;int main() {int n;cin >> n;for (int i = 1;i <= n;i++) {if (n % i == 0)cout << i << " ";}cout << endl;return 0;}', 1000, 1, CAST(N'2025-05-20T19:21:19.077' AS DateTime), NULL)
INSERT [dbo].[Problems] ([ProblemID], [CreatedBy], [DeletedBy], [CompilerName], [Title], [GeneralDescription], [InputDescription], [OutputDescription], [Note], [Tutorial], [Difficulty], [SolutionCode], [TimeLimitMilliseconds], [IsSystemProblem], [CreatedAt], [DeletedAt]) VALUES (10, 1, NULL, N'clang900', N't1', N'gd', N'id', N'od', N'n', N't', 0, N'#include <iostream> 
 using namespace std;int main() {int n;cin >> n;for (int i = 1;i <= n;i++) {if (n % i == 0)cout << i << " ";}cout << endl;return 0;}', 1000, 0, CAST(N'2025-05-20T19:26:38.417' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Problems] OFF
GO
SET IDENTITY_INSERT [dbo].[ProblemTags] ON 

INSERT [dbo].[ProblemTags] ([ProblemTagID], [ProblemID], [TagID]) VALUES (1, 9, 1)
INSERT [dbo].[ProblemTags] ([ProblemTagID], [ProblemID], [TagID]) VALUES (3, 10, 1)
INSERT [dbo].[ProblemTags] ([ProblemTagID], [ProblemID], [TagID]) VALUES (4, 10, 2)
SET IDENTITY_INSERT [dbo].[ProblemTags] OFF
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON 

INSERT [dbo].[Submissions] ([SubmissionID], [UserID], [ProblemID], [CompilerName], [Status], [ExecutionTimeMilliseconds], [Code], [VisionScope], [SubmittedAt]) VALUES (4, 1, 7, N'clang1810', 0, 0, N'hello every body ', 1, CAST(N'2025-05-23T12:05:35.780' AS DateTime))
INSERT [dbo].[Submissions] ([SubmissionID], [UserID], [ProblemID], [CompilerName], [Status], [ExecutionTimeMilliseconds], [Code], [VisionScope], [SubmittedAt]) VALUES (7, 1, 7, N'clang1810', 0, 0, N'#include<iostream> 
 using namespace std; 
 int main() { cout << 1 << endl; }', 0, CAST(N'2025-06-06T13:52:54.463' AS DateTime))
INSERT [dbo].[Submissions] ([SubmissionID], [UserID], [ProblemID], [CompilerName], [Status], [ExecutionTimeMilliseconds], [Code], [VisionScope], [SubmittedAt]) VALUES (8, 1, 7, N'clang1810', 0, 0, N'#include<iostream> 
 using namespace std; 
 int main() { cout << 1 << endl; }', 0, CAST(N'2025-06-06T13:54:47.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[Submissions] OFF
GO
SET IDENTITY_INSERT [dbo].[SubmissionTestCases] ON 

INSERT [dbo].[SubmissionTestCases] ([SubmissionTestCaseID], [TestCaseID], [SubmissionID], [Status], [ExecutionTimeMilliseconds], [Output]) VALUES (1, 1, 18, 1, 45, N'Unknown')
INSERT [dbo].[SubmissionTestCases] ([SubmissionTestCaseID], [TestCaseID], [SubmissionID], [Status], [ExecutionTimeMilliseconds], [Output]) VALUES (2, 2, 18, 1, 33, N'Unknown')
INSERT [dbo].[SubmissionTestCases] ([SubmissionTestCaseID], [TestCaseID], [SubmissionID], [Status], [ExecutionTimeMilliseconds], [Output]) VALUES (3, 3, 18, 1, 89, N'Unknown')
SET IDENTITY_INSERT [dbo].[SubmissionTestCases] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagID], [Name]) VALUES (1, N'Math')
INSERT [dbo].[Tags] ([TagID], [Name]) VALUES (2, N'Basic')
INSERT [dbo].[Tags] ([TagID], [Name]) VALUES (3, N'DP')
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[TestCases] ON 

INSERT [dbo].[TestCases] ([TestCaseID], [ProblemID], [Input], [Output], [IsPublic], [IsSample]) VALUES (1, 9, N'10', N'
1 2 5 10 
', 1, 1)
INSERT [dbo].[TestCases] ([TestCaseID], [ProblemID], [Input], [Output], [IsPublic], [IsSample]) VALUES (2, 9, N'100', N'
1 2 4 5 10 20 25 50 100 
', 1, 1)
INSERT [dbo].[TestCases] ([TestCaseID], [ProblemID], [Input], [Output], [IsPublic], [IsSample]) VALUES (3, 9, N'1000', N'
1 2 4 5 8 10 20 25 40 50 100 125 200 250 500 1000 
', 1, 1)
SET IDENTITY_INSERT [dbo].[TestCases] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [ImagePath], [Username], [Password], [Role], [CreatedAt], [IsActive]) VALUES (1, N'koko', N'user1', N'11111111', 0, CAST(N'2025-05-18T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [ImagePath], [Username], [Password], [Role], [CreatedAt], [IsActive]) VALUES (2, NULL, N'user2', N'2222', 1, CAST(N'2025-07-15T17:33:07.743' AS DateTime), 0)
INSERT [dbo].[Users] ([UserID], [ImagePath], [Username], [Password], [Role], [CreatedAt], [IsActive]) VALUES (3, NULL, N'user10', N'11111111', 1, CAST(N'2025-07-17T11:42:32.840' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Problems]  WITH CHECK ADD  CONSTRAINT [FK_Creating_Users_Problems] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Problems] CHECK CONSTRAINT [FK_Creating_Users_Problems]
GO
ALTER TABLE [dbo].[Problems]  WITH CHECK ADD  CONSTRAINT [FK_Deleting_Users_Problems] FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Problems] CHECK CONSTRAINT [FK_Deleting_Users_Problems]
GO
ALTER TABLE [dbo].[ProblemTags]  WITH CHECK ADD  CONSTRAINT [FK_Problems_ProblemTags] FOREIGN KEY([ProblemID])
REFERENCES [dbo].[Problems] ([ProblemID])
GO
ALTER TABLE [dbo].[ProblemTags] CHECK CONSTRAINT [FK_Problems_ProblemTags]
GO
ALTER TABLE [dbo].[ProblemTags]  WITH CHECK ADD  CONSTRAINT [FK_Tags_ProblemTags] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([TagID])
GO
ALTER TABLE [dbo].[ProblemTags] CHECK CONSTRAINT [FK_Tags_ProblemTags]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Problems_Submissions] FOREIGN KEY([ProblemID])
REFERENCES [dbo].[Problems] ([ProblemID])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Problems_Submissions]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Users_Submissions] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Users_Submissions]
GO
ALTER TABLE [dbo].[SubmissionTestCases]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_SubmissionTestCases] FOREIGN KEY([SubmissionID])
REFERENCES [dbo].[Submissions] ([SubmissionID])
GO
ALTER TABLE [dbo].[SubmissionTestCases] CHECK CONSTRAINT [FK_Submissions_SubmissionTestCases]
GO
ALTER TABLE [dbo].[SubmissionTestCases]  WITH CHECK ADD  CONSTRAINT [FK_TestCases_SubmissionTestCases] FOREIGN KEY([TestCaseID])
REFERENCES [dbo].[TestCases] ([TestCaseID])
GO
ALTER TABLE [dbo].[SubmissionTestCases] CHECK CONSTRAINT [FK_TestCases_SubmissionTestCases]
GO
ALTER TABLE [dbo].[TestCases]  WITH CHECK ADD  CONSTRAINT [FK_Problems_TestCases] FOREIGN KEY([ProblemID])
REFERENCES [dbo].[Problems] ([ProblemID])
GO
ALTER TABLE [dbo].[TestCases] CHECK CONSTRAINT [FK_Problems_TestCases]
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_AddNewProblem]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Problem_AddNewProblem]
	@CompilerName NVARCHAR(max),
	@CreatedBy int,
	@Title NVARCHAR(max),
	@GeneralDescription NVARCHAR(max),
	@InputDescription NVARCHAR(max),
	@OutputDescription NVARCHAR(max),
	@Note NVARCHAR(max),
	@Tutorial NVARCHAR(max),
	@Difficulty tinyint,
	@SolutionCode NVARCHAR(max),
	@TimeLimitMilliseconds int,
	@IsSystemProblem bit,
	@ProblemID INT OUTPUT,
	@IsSuccess bit = null output
AS
BEGIN
	INSERT INTO Problems(CreatedBy,DeletedBy,CompilerName,Title,GeneralDescription,InputDescription,OutputDescription,
						Note,Tutorial,Difficulty,SolutionCode,TimeLimitMilliseconds,IsSystemProblem,CreatedAt,DeletedAt)
	VALUES (@CreatedBy,null,@CompilerName,@Title,@GeneralDescription,@InputDescription,@OutputDescription,
			@Note,@Tutorial,@Difficulty,@SolutionCode,@TimeLimitMilliseconds,@IsSystemProblem,GETDATE(),null);
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0

	SET @ProblemID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_AddNewTagToProblem]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Problem_AddNewTagToProblem]
	@ProblemID INT,
	@TagID int,
	@ProblemTagID INT OUTPUT,
	@IsSuccess bit = null output
AS
BEGIN
	INSERT INTO ProblemTags(ProblemID,TagID)
	VALUES (@ProblemID,@TagID);
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0

	SET @ProblemTagID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_DeleteProblem]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_Problem_DeleteProblem]
	@ProblemID int,
	@DeletedBy int,
	@IsSuccess bit = null output
AS
BEGIN
	Update Problems
	set DeletedBy = @DeletedBy , DeletedAt = GetDate()
	where ProblemID = @ProblemID
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_DoesProblemExistByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROc [dbo].[SP_Problem_DoesProblemExistByID]
 @ProblemID INT
AS
BEGIN
    SELECT 
	CASE WHEN EXISTS (SELECT 1 FROM Problems WHERE ProblemID = @ProblemID) 
        THEN 1 ELSE 0 
    END AS nd;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_GetAllProblems]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Problem_GetAllProblems]
	@Page int,
	@Limit int,
    @Title NVARCHAR(max) = NULL,
    @Difficulty tinyint = NULL,
    @CreatedBy int = NULL,
	@IsSystemProblem bit = NULL, 
    @CreatedAt Datetime = NULL,
	@IsDeleted bit = NULL,
	@TryingStatusForUser int = NULL,
    @TagIDs IntegersTableType readonly 
AS
BEGIN
    declare @FilteredProblems table (ProblemID int,CreatedBy int,DeletedBy int,Title nvarchar(max),GeneralDescription nvarchar(max),Difficulty tinyint,IsSystemProblem bit);

    insert into @FilteredProblems (ProblemID,CreatedBy,DeletedBy,Title,GeneralDescription,Difficulty,IsSystemProblem)
    SELECT  ProblemID,CreatedBy,DeletedBy,Title,GeneralDescription,Difficulty,IsSystemProblem
    FROM Problems p
    WHERE 
       (@Title IS NULL OR p.Title LIKE '%' + @Title + '%') and 
       (@Difficulty IS NULL OR p.Difficulty = @Difficulty) and  
       (@CreatedBy IS NULL OR p.CreatedBy = @CreatedBy) and 
	   (@IsSystemProblem IS NULL OR p.IsSystemProblem = @IsSystemProblem) and
       (@CreatedAt IS NULL OR abs(Datediff(day,@CreatedAt,p.CreatedAt)) <= 1) and 
       (@IsDeleted IS NULL OR (@IsDeleted = 0 AND p.DeletedBy Is NULL) OR (@IsDeleted = 1 AND p.DeletedBy Is NOT NULL)) and 
       (not exists(select top 1 val from @TagIDs) OR 
        exists(select top 1 t.val 
                from @TagIDs t 
                where t.val in (select pt.TagID 
                                from ProblemTags pt 
                                where pt.ProblemID = p.ProblemID)))
	order by p.ProblemID desc
	offset @Limit * (@Page-1) rows 
	fetch next @Limit rows only;


	
	
    select fp.ProblemID,fp.CreatedBy ,fp.DeletedBy, fp.Title, fp.GeneralDescription,fp.Difficulty , fp.IsSystemProblem ,
		TryingStatus = dbo.SVF_GetTryingStatusOfUserForProblem(@TryingStatusForUser,fp.ProblemID), 
		SolutionsCount = Count(case when s.[Status]=1 then 1 else null end) , AttemptsCount = Count(s.SubmissionID)
    from @FilteredProblems fp left outer join Submissions s on fp.ProblemID = s.ProblemID
    group by fp.ProblemID,fp.CreatedBy,fp.DeletedBy , fp.Title, fp.GeneralDescription,fp.Difficulty, fp.IsSystemProblem
	order by fp.ProblemID desc;
	

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_GetProblemByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Problem_GetProblemByID]
	@ProblemID INT
AS
BEGIN
	SELECT ProblemID,CreatedBy,CreatedAt,DeletedBy,DeletedAt,
	Title,GeneralDescription,InputDescription,OutputDescription,Note,Tutorial,Difficulty,
	SolutionCode,CompilerName,TimeLimitMilliseconds,IsSystemProblem
	FROM Problems
	WHERE ProblemID = @ProblemID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_TotalPagesAndItemsCount]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Problem_TotalPagesAndItemsCount]
	@Limit int,
    @Title NVARCHAR(max) = NULL,
    @Difficulty tinyint = NULL,
    @CreatedBy int = NULL,
	@IsSystemProblem bit = NULL, 
    @CreatedAt Datetime = NULL,
	@IsDeleted bit = NULL,
    @TagIDs IntegersTableType readonly 
AS
BEGIN
    declare @totalItemsCount int = 0;
    
    SELECT @totalItemsCount = count(*)
    FROM Problems p
    WHERE 
       (@Title IS NULL OR p.Title LIKE '%' + @Title + '%') and 
       (@Difficulty IS NULL OR p.Difficulty = @Difficulty) and  
       (@CreatedBy IS NULL OR p.CreatedBy = @CreatedBy) and 
	   (@IsSystemProblem IS NULL OR p.IsSystemProblem = @IsSystemProblem) and
       (@CreatedAt IS NULL OR abs(Datediff(day,@CreatedAt,p.CreatedAt)) <= 1) and 
       (@IsDeleted IS NULL OR (@IsDeleted = 0 AND p.DeletedBy Is NULL) OR (@IsDeleted = 1 AND p.DeletedBy Is NOT NULL)) and 
       (not exists(select top 1 val from @TagIDs) OR 
        exists(select top 1 t.val 
                from @TagIDs t 
                where t.val in (select pt.TagID 
                                from ProblemTags pt 
                                where pt.ProblemID = p.ProblemID)))

	select TotalItems = @totalItemsCount, TotalPages = ((@totalItemsCount + @Limit - 1) / @Limit)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Problem_UpdateProblem]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Problem_UpdateProblem]
	@ProblemID int,
	@Title NVARCHAR(max),
	@GeneralDescription NVARCHAR(max),
	@InputDescription NVARCHAR(max),
	@OutputDescription NVARCHAR(max),
	@Note NVARCHAR(max),
	@Tutorial NVARCHAR(max),
	@Difficulty tinyint,
	@TagIDs IntegersTableType readonly ,
	@IsSuccess bit = null output
AS
BEGIN
	begin transaction
		begin try
			Update Problems
			set Title = @Title,
				GeneralDescription = @GeneralDescription,
				InputDescription = @InputDescription,
				OutputDescription = @OutputDescription,
				Note = @Note,
				Tutorial = @Tutorial,
				Difficulty = @Difficulty
			where ProblemID = @ProblemID

			if @@ROWCOUNT = 0
				throw 50000,'error',16

			declare @newTagIDs as table (val int);
			declare @deleteTagIDs as table (val int);

			insert into @newTagIDs (val)
			select val from @TagIDs
			where val not in (select TagID from ProblemTags where ProblemID = @ProblemID)
				
			insert into @deleteTagIDs (val)
			select TagID from ProblemTags
			where TagID not in (select val from @TagIDs)
			

			insert into ProblemTags (ProblemID,TagID)
			select @ProblemID,val from @newTagIDs

			if @@ROWCOUNT = 0
				throw 50000,'error',16

			delete from ProblemTags 
			where ProblemID = @ProblemID and TagID in (select val from @deleteTagIDs)

			if @@ROWCOUNT = 0
				throw 50000,'error',16

			set @IsSuccess = 1
			commit;
		end try
		begin catch
			set @IsSuccess = 0
			if @@TRANCOUNT > 0
				rollback;
		end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ProblemTag_GetAllProblemTags]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ProblemTag_GetAllProblemTags]
	@ProblemID int = null
AS
BEGIN
    SELECT t.TagID,t.[Name],pt.ProblemID
    FROM ProblemTags pt inner join Tags t on pt.TagID = t.TagID 
    WHERE 
       (@ProblemID IS NULL OR pt.ProblemID = @ProblemID)
	order by t.Name asc

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submission_AddNewSubmission]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Submission_AddNewSubmission]
	@UserID INT,
	@ProblemID INT,
	@CompilerName NVARCHAR(MAX),
	@Status tinyint,
	@ExecutionTimeMilliseconds int,
	@Code NVARCHAR(MAX),
	@VisionScope TINYINT,
	@SubmissionID INT OUT,
	@IsSuccess bit = null out
AS
BEGIN
	
	BEGIN TRANSACTION;
	BEGIN TRY
		INSERT INTO Submissions 
		(UserID,ProblemID, CompilerName, Status, ExecutionTimeMilliseconds, 
		 Code, VisionScope, SubmittedAt)
		VALUES (@UserID,@ProblemID, @CompilerName, @Status, @ExecutionTimeMilliseconds, @Code, @VisionScope, GETDATE());

		if @@ROWCOUNT > 0
			set @IsSuccess = 1
		else 
			set @IsSuccess = 0

		SET @SubmissionID = SCOPE_IDENTITY();
		
		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		SET @SubmissionID = NULL
		set @IsSuccess = 0
		ROLLBACK TRANSACTION;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submission_ChangeVisionScope]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Submission_ChangeVisionScope]
	@submissionId int,
	@visionScopeId int,
	@userId int
AS 
BEGIN

	UPDATE Submissions SET VisionScope = @visionScopeId 
	WHERE SubmissionID = @submissionId AND UserID = @userId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submission_DoesSubmissionExistByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROc [dbo].[SP_Submission_DoesSubmissionExistByID]
 @SubmissionID INT
AS
BEGIN
    SELECT 
	CASE WHEN EXISTS (SELECT 1 FROM Submissions WHERE SubmissionID = @SubmissionID) 
        THEN 1 ELSE 0 
    END AS nd;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submission_GetAllDetailedSubmissionTestCases]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Submission_GetAllDetailedSubmissionTestCases]
@SubmissionId INT = null
AS
BEGIN
	SELECT stc.SubmissionTestCaseID,stc.TestCaseID,stc.SubmissionID,stc.[Status],stc.ExecutionTimeMilliseconds,stc.Output,ExpectedOutput = tc.Output,tc.Input
	FROM SubmissionTestCases stc inner join TestCases tc on stc.TestCaseID = tc.TestCaseID
	WHERE (@SubmissionId IS NULL OR stc.SubmissionID = @SubmissionId)
	order by stc.SubmissionTestCaseID desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submission_GetAllSubmissions]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Submission_GetAllSubmissions]
    @UserId    INT = NULL,
    @Scope     INT = NULL,   
    @ProblemId INT = NULL,
    @Page      INT,
    @Limit     INT
AS
BEGIN
    SELECT
      SubmissionID, UserID,ProblemID, CompilerName, Status,Code, ExecutionTimeMilliseconds,
      VisionScope, SubmittedAt
	  FROM Submissions 
      WHERE (@UserId is null OR UserID = @UserId) 
	  AND (@Scope is null OR VisionScope = @Scope )
      AND (@ProblemId is null OR ProblemID = @ProblemId)
      ORDER BY SubmissionID DESC
      OFFSET (@Page - 1) * @Limit ROWS
      FETCH NEXT @Limit ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submission_GetAllSubmissionTestCases]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Submission_GetAllSubmissionTestCases]
@SubmissionId INT = null
AS
BEGIN
	SELECT SubmissionTestCaseID,TestCaseID,SubmissionID,[Status],ExecutionTimeMilliseconds,Output
	FROM SubmissionTestCases
	WHERE (@SubmissionId IS NULL OR SubmissionID = @SubmissionId)
	Order By SubmissionTestCaseID desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submission_GetSubmissionByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SP_Submission_GetSubmissionByID]
	@SubmissionID INT
AS
BEGIN
	SELECT SubmissionID,UserID,ProblemID,CompilerName,Status,ExecutionTimeMilliseconds,Code,VisionScope,SubmittedAt
	FROM Submissions
	WHERE SubmissionID = @SubmissionID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Submissions_TotalPagesAndItemsCount]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Submissions_TotalPagesAndItemsCount]
    @UserId    INT = NULL,
    @Scope     INT = NULL,   
    @ProblemId INT = NULL,
    @Limit     INT
AS
BEGIN
    declare @totalItemsCount int = 0;
    
    SELECT @totalItemsCount = count(*)
    FROM Submissions 
      WHERE (@UserId is null OR UserID = @UserId) 
	  AND (@Scope is null OR VisionScope = @Scope )
      AND (@ProblemId is null OR ProblemID = @ProblemId)


    select TotalItems = @totalItemsCount, TotalPages = ((@totalItemsCount + @Limit - 1) / @Limit)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SubmissionTestCase_AddNewSubmissionTestCase]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SubmissionTestCase_AddNewSubmissionTestCase]
@TestCaseID INT,
@SubmissionID INT,
@Status tinyint,
@ExecutionTimeMilliseconds INT,
@Output Nvarchar(max),
@SubmissionTestCaseID INT OUT,
@IsSuccess bit = null Out

AS
BEGIN

	INSERT INTO SubmissionTestCases (TestCaseID, SubmissionID, Status, ExecutionTimeMilliseconds,Output)
    VALUES (@TestCaseID, @SubmissionID, @Status, @ExecutionTimeMilliseconds,@Output);
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0

	SET @SubmissionTestCaseID = SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_AddNewTag]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tag_AddNewTag]
	@Name nvarchar(max),
	@TagID int output,
	@IsSuccess bit = null output
AS
BEGIN
	INSERT INTO Tags(Name)
	VALUES (@Name);
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0

	SET @TagID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_DeleteTag]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_Tag_DeleteTag]
	@TagID int,
	@IsSuccess bit = null output
AS
BEGIN
	delete from Tags 
	where TagID = @TagID
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_DoesTagExistByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROc [dbo].[SP_Tag_DoesTagExistByID]
 @TagID INT
AS
BEGIN
    SELECT 
	CASE WHEN EXISTS (SELECT 1 FROM Tags WHERE TagID = @TagID) 
        THEN 1 ELSE 0 
    END AS nd;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_DoesTagExistByName]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROc [dbo].[SP_Tag_DoesTagExistByName]
 @Name nvarchar(max)
AS
BEGIN
    SELECT 
	CASE WHEN EXISTS (SELECT 1 FROM Tags WHERE Name = @Name) 
        THEN 1 ELSE 0 
    END AS nd;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_GetAllTags]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Tag_GetAllTags]
AS
BEGIN
    SELECT TagID,[Name]
    FROM Tags
	Order By Name asc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_GetTagByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SP_Tag_GetTagByID]
	@TagID INT
AS
BEGIN
	SELECT TagID,Name
	FROM Tags
	WHERE TagID = @TagID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_GetTagByName]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Tag_GetTagByName]
	@Name NVarchar(max)
AS
BEGIN
	SELECT TagID,Name
	FROM Tags
	WHERE Name = @Name
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tag_UpdateTag]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_Tag_UpdateTag]
	@TagID int,
	@Name nvarchar(max),
	@IsSuccess bit = null output
AS
BEGIN
	Update Tags 
	set Name = @Name
	where TagID = @TagID
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TestCase_AddNewTestCase]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TestCase_AddNewTestCase]
	@ProblemID INT,
	@Input NVARCHAR(max),
	@Output NVARCHAR(max),
	@IsPublic bit,
	@IsSample bit,
	@TestCaseID INT OUTPUT,
	@IsSuccess bit = null output
AS
BEGIN
	INSERT INTO TestCases(ProblemID,Input,[Output],IsPublic,IsSample)
	VALUES (@ProblemID,@Input,@Output,@IsPublic,@IsSample);
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0

	SET @TestCaseID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TestCase_GetAllTestCases]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TestCase_GetAllTestCases]
	@ProblemID int = null,
	@IsSample bit = null,
	@IsPublic bit = null
AS
BEGIN
    SELECT TestCaseID,ProblemID,Input,[Output],IsPublic,IsSample
    FROM TestCases
    WHERE 
       (@ProblemID IS NULL OR ProblemID = @ProblemID) and
	   (@IsSample IS NULL OR IsSample = @IsSample) and
	   (@IsPublic IS NULL OR IsPublic = @IsPublic) 
	Order By TestCaseID desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_AddNewUser]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_User_AddNewUser]
	@ImagePath NVARCHAR(max),
	@Username NVARCHAR(max),
	@Password NVARCHAR(max),
	@UserID INT OUTPUT,
	@IsSuccess bit = null output
AS
BEGIN
	INSERT INTO Users (ImagePath,Username,[Password],[Role],CreatedAt,IsActive)
	VALUES (@ImagePath,@Username,@Password, 1, GetDate(),1);
	
	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0

	SET @UserID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_User_DoesUserExistByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_User_DoesUserExistByID]
  @UserID INT
AS
BEGIN
  SELECT CASE WHEN EXISTS (SELECT top 1 f=1 FROM Users WHERE UserID = @UserID) 
  THEN cast (1 as bit)
  ELSE cast (0 as bit) 
  END as UserExist
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_DoesUserExistByUsername]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_User_DoesUserExistByUsername]
  @Username nvarchar(max)
AS
BEGIN
  SELECT CASE WHEN EXISTS (SELECT top 1 f=1 FROM Users WHERE Username = @Username) 
  THEN cast (1 as bit)
  ELSE cast (0 as bit) 
  END as UserExist
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetAllUsers]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_User_GetAllUsers]
	@Page int,
	@Limit int,
    @Username NVARCHAR(max) = NULL,
	@IsActive bit = null
AS
BEGIN
    SELECT  UserID,ImagePath, Username, [Role], CreatedAt,IsActive
    FROM Users
    WHERE 
       (@Username IS NULL OR Username LIKE '%' + @Username + '%') and
       (@IsActive IS NULL OR IsActive = @IsActive) 
	order by UserID desc
	offset @Limit * (@Page-1) rows 
	fetch next @Limit rows only
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetUserByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_User_GetUserByID]
	@UserID INT
AS
BEGIN
	SELECT UserID,ImagePath, Username, [Role], CreatedAt,IsActive
	FROM Users
	WHERE UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetUserByUsername]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_User_GetUserByUsername]
	@Username nvarchar(max)
AS
BEGIN
	SELECT UserID,ImagePath, Username, [Role], CreatedAt,IsActive
	FROM Users
	WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_GetUserByUsernameAndPassword]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_User_GetUserByUsernameAndPassword]
	@Username NVARCHAR(max),
	@Password NVARCHAR(max)
AS
BEGIN
	SELECT UserID,ImagePath, Username, [Role], CreatedAt,IsActive
	from Users
	WHERE Username = @Username AND [Password] = @Password;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_User_IsUserActiveByID]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_User_IsUserActiveByID]
  @UserID int
AS
BEGIN
  SELECT CASE WHEN EXISTS (SELECT top 1 f=1 FROM Users WHERE UserID = @UserID and IsActive = 1) 
  THEN cast (1 as bit)
  ELSE cast (0 as bit) 
  END as UserActive
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_TotalPagesAndItemsCount]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_User_TotalPagesAndItemsCount]
	@Limit int,
    @Username NVARCHAR(max) = NULL,
	@IsActive bit = null
AS
BEGIN
    declare @totalItemsCount int = 0;
    
    SELECT @totalItemsCount = count(*)
    FROM Users
    WHERE 
       (@Username IS NULL OR Username LIKE '%' + @Username + '%') and
       (@IsActive IS NULL OR IsActive = @IsActive) 
	
    select TotalItems = @totalItemsCount, TotalPages = ((@totalItemsCount + @Limit - 1) / @Limit)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_UpdateUser]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_User_UpdateUser]
	@UserID INT,
	@ImagePath NVARCHAR(max),
	@IsSuccess bit = null output
AS
BEGIN
	UPDATE Users
	SET
	ImagePath = @ImagePath
	WHERE UserID = @UserID;

	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_User_UpdateUserActivation]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_User_UpdateUserActivation]
	@UserID INT,
	@IsActive bit,
	@IsSuccess bit = null output
AS
BEGIN
	UPDATE Users
	SET IsActive = @IsActive
	WHERE UserID = @UserID

	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_User_UpdateUserPassword]    Script Date: 7/31/2025 2:41:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_User_UpdateUserPassword]
	@UserID INT,
	@OldPassword NVARCHAR(100) = null,
	@NewPassword NVARCHAR(100),
	@IsSuccess bit = null output
AS
BEGIN
	UPDATE Users
	SET Password = @NewPassword
	WHERE UserID = @UserID AND (@OldPassword is null or Password = @OldPassword)

	if @@ROWCOUNT > 0
		set @IsSuccess = 1
	else 
		set @IsSuccess = 0
END
GO
USE [master]
GO
